*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position:relative;
    height: 600px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    top: -215px;
    left: 350px;
}

.container .card{
    margin-top: 100px;
    position:relative;
    max-width: 150px;
    height: 107px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.container .card:hover{
    height: 140px;
}

.container .card .imgBx{
    position: relative;
    width: 50px;
    height: 130px;
    top:-40px;
    left:25px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

.card_glass{
    position: absolute;
    top: 210px;
    width: 1800px;
    height: 1640px;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.6),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
    z-index: 1;
}

.fc1:hover{
    position: absolute;
    animation: take_off 0.2s linear infinite;
}

@keyframes take_off{
    0%,100%{
        transform:translate3d(0px,-2px,0px);
    }
    50%{
        transform:translate3d(0px,2px,0px);
    }
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.fc1{
    position: absolute;
    top: 15px;
    left: 25px;
}

.blank{
    padding-bottom: 1890px;
}

.zz{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 1640px;
    text-align: center;
}

.zz_img{
    width: 100px;
    height: 100px;
}

.zz_img:hover{
    display: inline-block;
  margin: 0 0.5rem;

  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.sp{
    position: absolute;
    top: 950px;
    left: 400px;
}

.png{
    position: absolute;
    height: 800px;
    width: 550px;
    top: 80px;
    left: 80px;
}

.jj_p{
    position: absolute;
    left: 800px;
    font-size: 20px;
    top: 100px;
    width: 600px;
}