*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position:relative;
    height: 600px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    top: -215px;
    left: 350px;
}

.container .card{
    margin-top: 100px;
    position:relative;
    max-width: 150px;
    height: 107px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.container .card:hover{
    height: 140px;
}

.container .card .imgBx{
    position: relative;
    width: 50px;
    height: 130px;
    top:-40px;
    left:25px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

.card_glass{
    position: absolute;
    top: 210px;
    width: 1000px;
    height: 1000px;
    border-radius: 20px;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.fc1:hover{
    position: absolute;
    animation: take_off 0.2s linear infinite;
}

@keyframes take_off{
    0%,100%{
        transform:translate3d(0px,-2px,0px);
    }
    50%{
        transform:translate3d(0px,2px,0px);
    }
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.an{
    position: fixed;
    top: 920px;
    left: 1700px;
    z-index: 999;
}

.fc1{
    position: absolute;
    top: 15px;
    left: 25px;
}

.blank{
    padding-bottom: 1250px;
}

.zz{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 1640px;
    text-align: center;
}

.zz_img{
    width: 100px;
    height: 100px;
}

.zz_img:hover{
    display: inline-block;
  margin: 0 0.5rem;

  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.zz_h1{
    color: white;
    text-align: center;
}

.card_glass p{
    color: #fff;
    font-size: x-large;
}

.card_glass_contain{
    height: 950px;
    width: 950px;
    margin: 25px;
}

.card_glass_no{
    position: absolute;
    top: 210px;
    width: 1000px;
    height: 1000px;
    border-radius: 20px;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.card_glass_cs{
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceOut; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    position: absolute;
    top: 210px;
    width: 1000px;
    height: 1000px;
    border-radius: 20px;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
}

.card_glass_cs1{
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    position: absolute;
    top: 210px;
    width: 1000px;
    height: 1000px;
    border-radius: 20px;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
}